{{ define "main" }}
  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
        <div class="content">
          <div style="text-align: center;">
            {{ if .Title }}<h1>{{ .Title }}</h1>{{ end }}
            <p style="margin-bottom: 20px; margin-top: 0;">{{ if strings.Contains .Permalink "es" }}Prepárate para cualquier cosa—nuestras listas de verificación te tienen cubierto!{{ else if strings.Contains .Permalink "zh-cn" }}为任何事情做好准备—我们的检查清单为您提供保障！{{ else }}Get ready for anything—our checklists have you covered!{{ end }}</p>
          </div>
          {{ .Content }}
        </div>
      </main>
    </article>
  </div>
{{ end }}