.language-theme-container {
    display: flex; 
    align-items: center;
}
.language-theme-container .language-options {
    position: fixed;
    inset: auto auto -160px 0px; 
    margin: 0px; 
    min-width: 100px;
}

.language-theme-sidebar-container {
    display: none;
}
.language-options {
    position: fixed;
    inset: auto auto 0px 0px; 
    margin: 0px; 
    min-width: 100px;
}

.hero-surveillance-image {
    position: absolute;
    top: 60px;
    right: 11%;
    width: 340px;
    pointer-events: none;
}

.tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    border-radius: 99px;
}

input[type="radio"] {
    display: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
    color: black;
    padding-inline: 10px;
}

.glider {
    position: absolute;
    display: flex;
    height: 40px;
    opacity: 0.3;
    background-color: hsl(var(--primary-hue) var(--primary-saturation) calc(calc(var(--primary-lightness) / 50) * 45) / var(--tw-bg-opacity));
    z-index: 1;
    border-radius: 99px;
    transition: transform 0.25s ease-out, width 0.25s ease-out;
}

input[type="radio"]:checked + label {
    color: black;
}

.hextra-feature-card {
    overflow: visible;
}

@media (max-width: 980px) {
    .hero-surveillance-image {
        width: 150px !important;
    }
}
@media (max-width: 1250px) {
    .hero-surveillance-image {
        width: 15% !important;
    }
}
@media (max-width: 1090px) {
    .hero-surveillance-image {
        width: 110px !important;
    }
}
@media (max-width: 325px) {
    .hero-surveillance-image {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .language-theme-container {
      display: none;
    }
    .language-theme-sidebar-container {
        display: block;
    }
    .footer-content {
        flex-direction: column !important;
    }
    .middle-footer-section {
        flex: 0 0 100% !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .left-footer-section, .right-footer-section {
        flex: 0 0 100% !important;
        flex-wrap: wrap;
        justify-content: center !important;
    }
}
@media (max-width: 520px) {
    #import-export {
        margin-top: 10px;
    }
}

.hextra-feature-card::after {
    --roadmap-line-color: black;
    content: '';
    position: absolute;
    background: var(--roadmap-line-color);
    display: none;
}

.hextra-feature-card::before {
    --roadmap-line-color: black;
    content: '';
    position: absolute;
    background: var(--roadmap-line-color);
    display: none;
}

.hextra-feature-card:is(html[class~="dark"] *)::before,
.hextra-feature-card:is(html[class~="dark"] *)::after {
    --roadmap-line-color: white;
    background: var(--roadmap-line-color);
}

/* Mobile */
@media (max-width: 639px) {
    .hextra-feature-grid {
        grid-template-columns: 1fr;
    }

    .hextra-feature-card:nth-child(n)::after {
        display: block;
        width: 2px;
        height: 17px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    .hextra-feature-card:last-child::after,
    .hextra-feature-card:last-child::before {
        display: none;
    }
}

/* Tablet */
@media (min-width: 640px) and (max-width: 1024px) {
    .hextra-feature-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hextra-feature-card:nth-child(4n-2)::after,
    .hextra-feature-card:nth-child(4n-1)::after {
        display: block;
        width: 2px;
        height: 17px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .hextra-feature-card:nth-child(2n+1):not(:last-child)::before {
        display: block;
        width: 17px;
        height: 2px;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
    }
    .hextra-feature-card:last-child::after,
    .hextra-feature-card:last-child::before {
        display: none;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .hextra-feature-grid {
        grid-template-columns: repeat(5, 1fr);
    }

    .hextra-feature-card:nth-child(5)::after,
    .hextra-feature-card:nth-child(6)::after {
        display: block;
        width: 2px;
        height: 17px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .hextra-feature-card:nth-child(5n+1):not(:last-child)::before,
    .hextra-feature-card:nth-child(5n+2):not(:last-child)::before,
    .hextra-feature-card:nth-child(5n+3):not(:last-child)::before,
    .hextra-feature-card:nth-child(5n+4):not(:last-child)::before {
        display: block;
        width: 17px;
        height: 2px;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
    }
    .hextra-feature-card:last-child::after,
    .hextra-feature-card:last-child::before {
        display: none;
    }
}

@media (max-width: 1025px) {
    .invisible-filler {
        display: none;
    }
}

table {
    width : 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 20px;
}
@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    thead {
        display: none;
    }
    tr {
        display: block;
        margin-bottom: 1rem;
        width: 200%;
    }
    td {
        display: block;
        text-align: right;
        position: relative;
        padding-left: 50%;
    }
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        text-align: left;
        font-weight: bold;
    }
    th, td {
        font-size: 16px;
    }
}

.donation-container {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    margin: 20px 0;
    position: relative;
}

.progress-bar {
    height: 30px;
    background-color: #008ae6;
    position: relative;
    transition: width 0.5s;
}

.progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
    transition: color 0.5s;
}

.recommendations {
    margin-top: 10px;
}

.recommendation-card {
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border: 1px solid #eee;
}

.recommendation-header {
    display: flex;
    align-items: center;
}

.recommendation-logo {
    height: 40px;
    width: 40px;
    margin-left: 0;
    margin-right: 10px;
}

.recommendation-text {
    margin-top: 0;
}

.platform-icons {
    display: flex;
    gap: 10px;
    margin: 0.5rem 0;
}

.platform-icon {
    font-size: 1.5rem;
    opacity: 0.8;
}

.recommendation-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 8px 16px;
    background: hsl(212.1, 100%, 45.1%);
    color: white !important;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9rem;
}

.recommendation-link:hover {
    background: hsl(212, 100%, 33%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.recommended-title {
  margin-top: 0rem;
  border-bottom-width: 1px;
  border-color: rgb(229 229 229 / 0.7);
  padding-bottom: 0.25rem;
  font-size: 1.875rem;
  font-weight: 600;
  letter-spacing: -0.015em;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
}

.chat-container {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border: 1px solid #e0e0e0;
}
.chat-output {
    padding: 20px;
    height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #e0e0e0;
    flex-grow: 1;
}
.message-container {
    display: flex;
    align-items: start;
    gap: 12px;
    margin: 10px 0;
}
.user-message-container {
    justify-content: flex-end;
}
.ai-message-container {
    justify-content: flex-start;
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}
.user-avatar {
    background:rgba(6, 167, 242, 0.40) url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23212529"><path d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"/></svg>') center/60% no-repeat;
}
.ai-avatar {
    background:rgba(191, 191, 191, 0.26) url('../android-chrome-512x512.png') center/60% no-repeat;
}
.message-bubble {
    max-width: 70%;
    padding: 12px 16px;
    border-radius: 20px;
    margin: 4px 0;
}
.user-message {
    background-color:rgba(6, 167, 242, 0.40);
}
.ai-message {
    background-color:rgba(191, 191, 191, 0.26);
}
.input-container {
    display: flex;
    padding: 10px;
}
#userInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
#sendButton {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#sendButton:hover {
    background-color: #0056b3;
}
#loadingMessage {
    text-align: center;
    padding: 10px;
    display: none;
}
#clearButton {
    width: 24px;
    cursor: pointer;
}
#clearButton:hover {
    scale: 110%;
}

.coming-soon-label {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    text-align: center;
    top: 75%;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.highlight-tour {
    position: relative;
    z-index: 99;
    background: white;
}
.tour-container {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 19;
  display: none;
}
.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 63.5px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 25;
  display: none;
}
.overlay-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
  display: none;
 }
#nextBtn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}