.language-theme-container {
    display: flex; 
    align-items: center;
}
.language-theme-container .language-options {
    position: fixed;
    inset: auto auto -160px 0px; 
    margin: 0px; 
    min-width: 100px;
}

.language-theme-sidebar-container {
    display: none;
}
.language-options {
    position: fixed;
    inset: auto auto 0px 0px; 
    margin: 0px; 
    min-width: 100px;
}

.hero-surveillance-image {
    position: absolute;
    top: 60px;
    right: 11%;
    width: 340px;
    pointer-events: none;
}

.tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    border-radius: 99px;
}

input[type="radio"] {
    display: none;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
    color: black;
    padding-inline: 10px;
}

.glider {
    position: absolute;
    display: flex;
    height: 40px;
    opacity: 0.3;
    background-color: hsl(var(--primary-hue) var(--primary-saturation) calc(calc(var(--primary-lightness) / 50) * 45) / var(--tw-bg-opacity));
    z-index: 1;
    border-radius: 99px;
    transition: transform 0.25s ease-out, width 0.25s ease-out;
}

input[type="radio"]:checked + label {
    color: black;
}

.hextra-feature-card {
    overflow: visible;
}

.horizontal-line {
    width: 17px;
    height: 2px;
    transform: translateY(-50%);
    top: -50%;
    left: 100%;
    position: relative;
    display: none;
}

.vertical-line {
    width: 2px;
    height: 25px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#quizModal {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
}

.question {
    display: none;
}

#quizModal button {
  width: 40%;
  border-radius: 20px;
  color: white;
}

@media (max-width: 980px) {
    .hero-surveillance-image {
        width: 150px !important;
    }
}
@media (max-width: 1250px) {
    .hero-surveillance-image {
        width: 15% !important;
    }
}
@media (max-width: 1090px) {
    .hero-surveillance-image {
        width: 110px !important;
    }
}
@media (max-width: 325px) {
    .hero-surveillance-image {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .language-theme-container {
      display: none;
    }
    .language-theme-sidebar-container {
        display: block;
    }
    .footer-content {
        flex-direction: column !important;
    }
    .middle-footer-section {
        flex: 0 0 100% !important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .left-footer-section, .right-footer-section {
        flex: 0 0 100% !important;
        flex-wrap: wrap;
        justify-content: center !important;
    }
}
@media (max-width: 520px) {
    #import-export {
        margin-top: 10px;
    }
}

.hextra-feature-card::after {
    content: '';
    position: absolute;
    background: #000;
    display: none;
}

.hextra-feature-card::before {
    content: '';
    position: absolute;
    background: #000;
    display: none;
}

/* Mobile */
@media (max-width: 639px) {
    .hextra-feature-grid {
        grid-template-columns: 1fr;
    }

    .hextra-feature-card:nth-child(n)::after {
        display: block;
        width: 2px;
        height: 17px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
    .hextra-feature-card:last-child::after,
    .hextra-feature-card:last-child::before {
        display: none;
    }
}

/* Tablet */
@media (min-width: 640px) and (max-width: 1024px) {
    .hextra-feature-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hextra-feature-card:nth-child(4n-2)::after {
        display: block;
        width: 2px;
        height: 17px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .hextra-feature-card:nth-child(4n-1)::after {
        display: block;
        width: 2px;
        height: 17px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .hextra-feature-card:nth-child(2n+1):not(:last-child)::before {
        display: block;
        width: 17px;
        height: 2px;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
    }
    .hextra-feature-card:last-child::after,
    .hextra-feature-card:last-child::before {
        display: none;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .hextra-feature-grid {
        grid-template-columns: repeat(5, 1fr);
    }

    .hextra-feature-card:nth-child(5)::after {
        display: block;
        width: 2px;
        height: 17px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .hextra-feature-card:nth-child(5n+1):not(:last-child)::before,
    .hextra-feature-card:nth-child(5n+2):not(:last-child)::before,
    .hextra-feature-card:nth-child(5n+3):not(:last-child)::before,
    .hextra-feature-card:nth-child(5n+4):not(:last-child)::before {
        display: block;
        width: 17px;
        height: 2px;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
    }
}

@media (max-width: 1025px) {
    .invisible-filler {
        display: none;
    }
}